<h2>Anatomy</h2>
<h3>Height</h3>
<p>1.5m - 1.8m (4.9ft - 6ft)</p>
<h3>Weight</h3>
<p>110kg - 250kg (242lbs - 551lbs)</p>
<h3>Unique characteristics</h3>
<p>
The Giant Panda is a medium to large sized bear that like other species has a large head, short tail and a long muzzle with a large nose, which gives them an excellent sense of smell. The thick fur of the Giant Panda is creamy-white in colour with large patches of black on the limbs, shoulders, ears and nose, and distinctive black patches around their small eyes. The Giant Panda eats almost only bamboo and so has a number of physical adaptations to help with its consumption including an extension of their wrist bone which acts a bit like a thumb, allowing the Giant Panda to grip onto bamboo stems. They also have large jaws with strong jaw muscles that along with their flat molars, allow the Giant Panda to crush bamboo stems and leaves in order to extract the nutrients.
About the size of an American black bear, giant pandas stand between two and three feet tall at the shoulder (on all four legs), and reach four to six feet long. Males are larger than females, weighing up to 250 pounds in the wild. Females rarely reach 220 pounds.
</p>
<h3>How the panda breathes</h3>
<p>Pandas breathe using their lungs, just like humans.   Pandas communicate through vocalization, producing sounds such as roaring or bleating that convey to the other pandas their intentions.  Panda cubs produce high pitched wailing to attract their mothers' attention for care and nursing.  Giant Pandas are very vocal during mating seasons to attract each other. The females will produce sounds that are not heard at other time of the year.</p>
<h3>Lifespan</h3>
<p>20-35 years</p>

