<h3>Interesting facts</h3>
<p>
The giant panda’s black and white coat and prominent black eye patches have made it one of the best known species, although it is among the shyest and rarest animals in the world.
The giant panda is a solitary animal, which spends about two-thirds of its day feeding and the remainder resting.
Although classed as a flesh-eater, the giant panda feeds almost exclusively on the stems, leaves and fresh young shoots of bamboo.
There are about 20 different species of bamboo that pandas will eat. However bamboo is so nutritionally poor that the pandas have to consume up to 20kg each day, which can take up to 16 hours.
The extra digit on the panda's hand helps them to tear the bamboo and their gut is covered with a thick layer of mucus to protect against splinters.

</p>

<img src="~/images/panda4.jpg" >
