@{
    ViewData["Title"] = "Natural habitat";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h2>Habitat</h2>
<p>
Giant pandas live in broadleaf and coniferous forests with a dense understory of bamboo, at elevations 
between 5,000 and 10,000 feet. Torrential rains or dense mist throughout the year characterizes these forests, often shrouded in heavy clouds.

Surroundings
A giant panda is bear-like in shape. It has black fur on ears, eye patches, muzzle, legs, and shoulders. The rest of the animal's coat is white. Although scientists do not know why these unusual bears are black and white, some speculate that the bold coloring provides effective camouflage into their shade-dappled snowy and rocky surroundings. The panda's thick, wooly coat keeps it warm in the cool forests of its habitat. Giant pandas have large molar teeth and strong jaw muscles for crushing tough bamboo. Many people find these chunky, lumbering animals to be cute, but giant pandas can be as dangerous as any other bear.

</p>
