@{
    ViewData["Title"] = "Name&Classification";
}

<h3>Primary species</h3>
<p>Native to the mountain forests of southwest China, the giant panda is one of the most beloved animals in the world.
Giant pandas are identified by their distinctive black and white coloring. Their ears, muzzle, eyes, shoulders and legs are black while the rest of their body is white. Their thick hair keeps them warm in the cool, wet mountain zones. When on all fours, giant pandas average between 60-100 cm (2-3 ft.) tall at the shoulder and between 1-2 m (4-6 ft.) long. They can weigh between 100-115 kg (220-250 lb.), with males being larger than females.
One of the interesting evolutionary traits of the panda is their protruding wrist bone that acts like a thumb. This helps the pandas hold bamboo while they munch on it with their strong molar teeth. Bamboo makes up nearly the entire diet of the panda. Due to the low nutritional value of bamboo, pandas need to eat 10-20 kg (20-40 lb.) a day. Occasionally pandas will eat other available food, including small rodents, eggs, fish and other flora. Bamboo provides a good amount of water, but pandas need to supplement this with fresh water daily.
</p>
<h3>Sub-species</h3>
<p>Two subspecies of giant panda have been recognized on the basis of distinct cranial measurements, color patterns, and population genetics (Wan et al., 2005).
The nominate subspecies Ailuropoda melanoleuca consists of most extant populations of panda. These animals are principally found in Sichuan and display the typical stark black and white contrasting colors.
The Qinling panda, A. m. qinlingensis[28] is restricted to the Qinling Mountains in Shaanxi at elevations of 1300–3000 m. The typical black and white pattern of Sichuan giant pandas is replaced with a dark brown versus light brown pattern. The skull of A. m. qinlingensis is smaller than its relatives, and it has larger molars.
</p>
<h3>Scientific classification</h3>
<p>For many decades, the precise taxonomic classification of the giant panda was under debate because it shares characteristics with both bears and raccoons.[16] However, molecular studiessuggest the giant panda is a true bear and part of the family Ursidae,[3][17] though it differentiated early in history from the main ursine stock. The giant panda's closest extant relative is thespectacled bear of South America.[18] The giant panda has been referred to as a living fossil.[19]
Despite the shared name, habitat type, and diet, as well as a unique enlarged bone called the pseudo thumb (which helps them grip the bamboo shoots they eat) the giant panda and red panda are only distantly related.</p>
